@import url("https://fonts.google.com/specimen/Montserrat");
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(30, 38%, 92%);
    font-family: Montserrat;
}

.container {
    display: flex;
    margin:auto;
    align-items: center;
    justify-content: center;
    height: 98vh;
}

.content {
    height: 450px;
    width: 540px;
    background-color: white;
    display: flex;
    border-radius: 10px;
}

.product-img {
    width: 48%;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
    margin-right: 25px;
}

.product-content {
    margin: 1rem 2rem 3rem 0;
}

.product-title {
    line-height: 5;
    font-size: 0.8rem;
    letter-spacing: 6px;;
    color: hsl(228, 12%, 48%);
}

.product-name {
    font-family: Fraunces;
    font-size: 1.9rem;
    line-height: 1;
    color: hsl(212, 21%, 14%);
}

.product-description {
    margin: 1rem 1.2rem 1rem 0;
    font-size: 0.8rem;
    line-height: 1.8;
    color: hsl(228, 12%, 48%);
}

.price {
    display:flex;
    margin-block: 1.2rem;
}

.current-price {
    font-family: Fraunces;
    color: hsl(158, 36%, 37%);
    font-size: 2rem;
}

.prev-price {
    font-size: 0.8rem;
    color: hsl(228, 12%, 48%);
    display:inline-flex;
    align-items: center;
    padding-left: 0.8rem;
}

.add-cart {
    width: 100%;
    background-color: hsl(158, 36%, 37%);
    border: none;
    color: white;
    height: 2.8rem;
    font-weight: 700;
    font-size: 0.85rem;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
}

.cart {
    width: 11.5px;
    margin-right: 0.6rem;
}

@media (max-width: 414px) {
    .container {
        height: 100%;
        margin-block: 2rem 10rem;
    }

    .content {
        width: 90%;
        height: 560px;
        flex-direction: column;
    }

    .product-img {
        width: 100%;
        height: 35%;
        border-radius: 10px 10px 0 0;
        margin: 0;
    }

    .product-content {
        margin: 0.5rem 1rem 1rem 1rem;
    }

    .product-title {
        line-height: 3;
    }

    .product-description {
        font-size: 0.85rem;
    }

    .price {
        margin-block: 1.1rem 0.9rem;
    }

    .add-cart {
        margin: 0;
    }
}

@media (max-width: 327px) {
    .content {
        height: 600px;
    }
}

@media (max-width: 293px) {
    .content {
        height: 640px;
    }
}

@media (max-width: 261px) {
    .content {
        height: 680px;
    }
}

@media (max-width: 246px) {
    .content {
        height: 720px;
    }
}

@media (max-width: 238px) {
    .content {
        height: 760px;
    }
}